<div
  class="flex flex-col outline outline-1 outline-slate-500 sm:flex-row print:outline-slate-950"
>
  <h2
    class="bg-slate-950 px-1.5 py-1.5 text-center font-jost text-sm font-bold uppercase text-slate-50 outline outline-1 outline-slate-500 sm:rotate-180 sm:py-5 sm:[writing-mode:vertical-lr] print:py-0 print:outline-slate-950"
  >
    Equipment
  </h2>
  <div class="w-full">
    <div
      class="flex h-auto w-full flex-col gap-1 px-2 py-1 font-jost outline outline-1 outline-slate-500 print:gap-0 print:outline-slate-950"
      data-headlessui-state=""
    >
      <div class="flex items-center justify-between">
        <label
          class="w-full text-xs uppercase"
          id="headlessui-label-:r1dp:"
          for="headlessui-control-:r1do:"
          data-headlessui-state=""
          ><h3>15. Armor and gear</h3></label
        ><span class="text-xs print:hidden">0/500</span>
      </div>
      <textarea
        class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm h-60"
        maxlength="500"
        placeholder=""
        id="headlessui-control-:r1do:"
        data-headlessui-state=""
        aria-labelledby="headlessui-label-:r1dp:"
      ></textarea
      ><span
        hidden=""
        style="
          position: fixed;
          top: 1px;
          left: 1px;
          width: 1px;
          height: 0px;
          padding: 0px;
          margin: -1px;
          overflow: hidden;
          clip: rect(0px, 0px, 0px, 0px);
          white-space: nowrap;
          border-width: 0px;
          display: none;
        "
      ></span>
    </div>
    <div class="flex flex-col lg:hidden print:hidden">
      <div
        class="flex items-center justify-between px-2 py-1 font-jost text-xs uppercase"
      >
        <span>16. Weapons</span
        ><button
          class="disabled:hover flex min-h-10 sm:min-h-0 h-fit px-3 sm:px-0 items-center gap-1 text-nowrap rounded-full border border-slate-600 sm:pl-1.5 text-sm text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 disabled:scale-100 disabled:border-slate-600 disabled:bg-inherit disabled:text-inherit disabled:opacity-30 print:hidden"
          type="button"
          data-headlessui-state=""
        >
          Add weapon<svg
            role="img"
            class="size-6 sm:size-5"
            aria-label=""
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use href="/icons/add.svg#add"></use>
          </svg>
        </button>
      </div>
      <div class="m-2 flex flex-col gap-4 rounded-xl bg-zinc-200 p-2 font-jost">
        <div class="flex items-center">
          <input
            class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm"
            maxlength="100"
            placeholder=""
            id="headlessui-input-:r1dr:"
            data-headlessui-state=""
            value="Unarmed Attack"
          /><button
            class="flex size-10 items-center justify-center rounded-full text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 sm:size-6 print:hidden"
            type="button"
            data-headlessui-state=""
          >
            <svg
              role="img"
              class="size-5"
              aria-label="Remove weapon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <use href="/icons/trash.svg#trash"></use>
            </svg>
          </button>
        </div>
        <div class="grid grid-cols-4 gap-y-4">
          <div class="flex flex-col items-center justify-center leading-none">
            <span class="text-center text-xs uppercase">Skill</span
            ><span>40%</span>
          </div>
          <div class="flex flex-col items-center justify-center leading-none">
            <span class="text-center text-xs uppercase">Base range</span
            ><span>—</span>
          </div>
          <div
            class="col-span-2 flex flex-col items-center justify-center leading-none"
          >
            <span class="text-center text-xs uppercase">Ammo</span
            ><span>—</span>
          </div>
          <div class="flex flex-col items-center justify-center leading-none">
            <span class="text-center text-xs uppercase">Radius</span
            ><span>—</span>
          </div>
          <div class="flex flex-col items-center justify-center leading-none">
            <span class="text-center text-xs uppercase">Damage</span
            ><span>1d4−1</span>
          </div>
          <div class="flex flex-col items-center justify-center leading-none">
            <span class="text-center text-xs uppercase">AP</span><span>—</span>
          </div>
          <div class="flex flex-col items-center justify-center leading-none">
            <span class="text-center text-xs uppercase">Lethality</span
            ><span>—</span>
          </div>
        </div>
      </div>
    </div>
    <table class="hidden w-full font-jost lg:table print:table">
      <thead class="text-xs uppercase">
        <tr>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 px-2 text-left font-normal"
          >
            <div class="flex items-center justify-between">
              16. Weapons<button
                class="disabled:hover flex min-h-10 sm:min-h-0 h-fit px-3 sm:px-0 items-center gap-1 text-nowrap rounded-full border border-slate-600 sm:pl-1.5 text-sm text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 disabled:scale-100 disabled:border-slate-600 disabled:bg-inherit disabled:text-inherit disabled:opacity-30 print:hidden"
                type="button"
                data-headlessui-state=""
              >
                Add weapon<svg
                  role="img"
                  class="size-6 sm:size-5"
                  aria-label=""
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <use href="/icons/add.svg#add"></use>
                </svg>
              </button>
            </div>
          </th>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 font-normal"
          >
            Skill %
          </th>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 font-normal"
          >
            Base range
          </th>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 font-normal"
          >
            Damage
          </th>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 font-normal"
          >
            Armor piercing
          </th>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 font-normal"
          >
            Lethality
          </th>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 font-normal"
          >
            Radius
          </th>
          <th
            class="border-l border-b border-slate-500 px-1 py-0.5 font-normal"
          >
            Ammo
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="border-l border-b border-slate-500 px-1 py-0.5">
            <div class="flex items-center gap-1.5">
              <input
                class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm print:py-0.5 print:px-1"
                maxlength="100"
                placeholder=""
                id="headlessui-input-:r1ds:"
                data-headlessui-state=""
                value="Unarmed Attack"
              /><button
                class="flex h-6 w-6 items-center justify-center rounded-full text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 print:hidden"
                type="button"
                data-headlessui-state=""
              >
                <svg
                  role="img"
                  class="size-5"
                  aria-label="Remove weapon"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <use href="/icons/trash.svg#trash"></use>
                </svg>
              </button>
            </div>
          </td>
          <td class="border-l border-b border-slate-500 px-1 py-0.5">40</td>
          <td class="border-l border-b border-slate-500 px-1 py-0.5">—</td>
          <td class="border-l border-b border-slate-500 px-1 py-0.5">1d4−1</td>
          <td class="border-l border-b border-slate-500 px-1 py-0.5">—</td>
          <td class="border-l border-b border-slate-500 px-1 py-0.5">—</td>
          <td class="border-l border-b border-slate-500 px-1 py-0.5">—</td>
          <td class="border-l border-b border-slate-500 px-1 py-0.5">
            <span>—</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
