<div
  class="flex flex-col outline outline-1 outline-slate-500 sm:flex-row print:outline-slate-950"
>
  <h2
    class="bg-slate-950 px-1.5 py-1.5 text-center font-jost text-sm font-bold uppercase text-slate-50 outline outline-1 outline-slate-500 sm:rotate-180 sm:py-5 sm:[writing-mode:vertical-lr] print:py-0 print:outline-slate-950"
  >
    Injuries
  </h2>
  <div class="w-full">
    <div
      class="flex h-auto w-full flex-col gap-1 px-2 py-1 font-jost outline outline-1 outline-slate-500 print:gap-0 print:outline-slate-950"
      data-headlessui-state=""
    >
      <div class="flex items-center justify-between">
        <label
          class="w-full text-xs uppercase"
          id="headlessui-label-:r1dl:"
          for="headlessui-control-:r1dk:"
          data-headlessui-state=""
          ><h3>14. Wounds and ailments</h3></label
        ><span class="text-xs print:hidden">0/300</span>
      </div>
      <textarea
        class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm h-28"
        maxlength="300"
        placeholder=""
        id="headlessui-control-:r1dk:"
        data-headlessui-state=""
        aria-labelledby="headlessui-label-:r1dl:"
      ></textarea
      ><span
        hidden=""
        style="
          position: fixed;
          top: 1px;
          left: 1px;
          width: 1px;
          height: 0px;
          padding: 0px;
          margin: -1px;
          overflow: hidden;
          clip: rect(0px, 0px, 0px, 0px);
          white-space: nowrap;
          border-width: 0px;
          display: none;
        "
      ></span>
    </div>
    <div
      class="flex flex-col items-center justify-center px-2 py-1 font-jost text-sm lg:flex-row lg:gap-4"
    >
      <span>Has First Aid been attempted since the last injury?</span>
      <div class="flex items-center gap-1">
        <span
          aria-label="Bond damaged"
          class="size-4 flex-none cursor-pointer border border-slate-950 focus-visible:outline-slate-600 data-[checked]:bg-slate-950 sm:size-3"
          id="headlessui-checkbox-:r1dn:"
          role="checkbox"
          aria-checked="false"
          tabindex="0"
          data-headlessui-state=""
        ></span
        ><span
          >Yes: Only Medicine, Surgery, or long-term rest can help
          further.</span
        >
      </div>
    </div>
  </div>
</div>
