<div
  class="flex flex-col outline outline-1 outline-slate-500 sm:flex-row print:outline-slate-950"
>
  <h2
    class="bg-slate-950 px-1.5 py-1.5 text-center font-jost text-sm font-bold uppercase text-slate-50 outline outline-1 outline-slate-500 sm:rotate-180 sm:py-5 sm:[writing-mode:vertical-lr] print:py-0 print:outline-slate-950"
  >
    Remarks
  </h2>
  <div class="w-full">
    <div
      class="flex flex-col lg:grid lg:grid-cols-2 print:grid print:grid-cols-2"
    >
      <div
        class="flex h-auto w-full flex-col gap-1 px-2 py-1 font-jost outline outline-1 outline-slate-500 print:gap-0 print:outline-slate-950"
        data-headlessui-state=""
      >
        <div class="flex items-center justify-between">
          <label
            class="w-full text-xs uppercase"
            id="headlessui-label-:r1du:"
            for="headlessui-control-:r1dt:"
            data-headlessui-state=""
            ><h3>17. Personal details and notes</h3></label
          ><span class="text-xs print:hidden">0/500</span>
        </div>
        <textarea
          class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm grow h-28 lg:h-auto"
          maxlength="500"
          placeholder=""
          id="headlessui-control-:r1dt:"
          data-headlessui-state=""
          aria-labelledby="headlessui-label-:r1du:"
        ></textarea
        ><span
          hidden=""
          style="
            position: fixed;
            top: 1px;
            left: 1px;
            width: 1px;
            height: 0px;
            padding: 0px;
            margin: -1px;
            overflow: hidden;
            clip: rect(0px, 0px, 0px, 0px);
            white-space: nowrap;
            border-width: 0px;
            display: none;
          "
        ></span>
      </div>
      <div class="flex flex-col">
        <div
          class="flex h-auto w-full flex-col gap-1 px-2 py-1 font-jost outline outline-1 outline-slate-500 print:gap-0 print:outline-slate-950"
          data-headlessui-state=""
        >
          <div class="flex items-center justify-between">
            <label
              class="w-full text-xs uppercase"
              id="headlessui-label-:r1e1:"
              for="headlessui-control-:r1e0:"
              data-headlessui-state=""
              ><h3>18. Developments which affect home and family</h3></label
            ><span class="text-xs print:hidden">0/300</span>
          </div>
          <textarea
            class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm grow h-28"
            maxlength="300"
            placeholder=""
            id="headlessui-control-:r1e0:"
            data-headlessui-state=""
            aria-labelledby="headlessui-label-:r1e1:"
          ></textarea
          ><span
            hidden=""
            style="
              position: fixed;
              top: 1px;
              left: 1px;
              width: 1px;
              height: 0px;
              padding: 0px;
              margin: -1px;
              overflow: hidden;
              clip: rect(0px, 0px, 0px, 0px);
              white-space: nowrap;
              border-width: 0px;
              display: none;
            "
          ></span>
        </div>
        <div class="flex flex-col font-jost">
          <div class="flex text-xs uppercase">
            <div
              class="flex w-1/2 justify-between px-2 py-1 outline outline-1 outline-slate-500 print:outline-slate-950"
            >
              <h3>19. Special Training</h3>
            </div>
            <div
              class="relative flex h-16 w-1/2 justify-center px-2 py-1 outline outline-1 outline-slate-500 sm:h-12 print:outline-slate-950"
            >
              Skill or stat used
              <div class="absolute bottom-1 right-1">
                <button
                  class="disabled:hover flex min-h-10 sm:min-h-0 h-fit px-3 sm:px-0 items-center gap-1 text-nowrap rounded-full border border-slate-600 sm:pl-1.5 text-sm text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 disabled:scale-100 disabled:border-slate-600 disabled:bg-inherit disabled:text-inherit disabled:opacity-30 print:hidden"
                  type="button"
                  data-headlessui-state=""
                >
                  Add special training<svg
                    role="img"
                    class="size-6 sm:size-5"
                    aria-label=""
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <use href="/icons/add.svg#add"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="flex">
            <div
              class="flex w-1/2 items-center gap-1.5 px-2 py-1 outline outline-1 outline-slate-500 print:outline-slate-950"
            >
              <div class="grow" data-headlessui-state="">
                <label
                  class="sr-only"
                  id="headlessui-label-:r1e4:"
                  for="headlessui-control-:r1e3:"
                  data-headlessui-state=""
                  >Special training name</label
                ><input
                  class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm"
                  maxlength="50"
                  placeholder=""
                  id="headlessui-control-:r1e3:"
                  data-headlessui-state=""
                  value=""
                  aria-labelledby="headlessui-label-:r1e4:"
                /><span
                  hidden=""
                  style="
                    position: fixed;
                    top: 1px;
                    left: 1px;
                    width: 1px;
                    height: 0px;
                    padding: 0px;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px);
                    white-space: nowrap;
                    border-width: 0px;
                    display: none;
                  "
                ></span>
              </div>
              <button
                class="flex h-6 w-6 items-center justify-center rounded-full text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 print:hidden"
                type="button"
                data-headlessui-state=""
              >
                <svg
                  role="img"
                  class="size-5"
                  aria-label="Remove bond type"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <use href="/icons/trash.svg#trash"></use>
                </svg>
              </button>
            </div>
            <div
              class="w-1/2 text-center outline outline-1 outline-slate-500 print:outline-slate-950"
            >
              <div
                class="flex h-full w-full flex-col justify-end gap-1 px-2 py-1 font-jost outline outline-1 outline-slate-500 print:gap-0 print:outline-slate-950"
                data-headlessui-state=""
              >
                <label
                  class="w-full text-xs uppercase"
                  id="headlessui-label-:r1e7:"
                  for="headlessui-control-:r1e6:"
                  data-headlessui-state=""
                  ><h3></h3></label
                ><button
                  class="group flex h-10 w-full items-center justify-between rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-3 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:h-auto sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm"
                  id="headlessui-control-:r1e6:"
                  type="button"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  data-headlessui-state=""
                  aria-labelledby="headlessui-label-:r1e7: headlessui-control-:r1e6:"
                >
                  <span
                    class="grow text-left data-[use-spacer=true]:invisible"
                    data-use-spacer="true"
                    >spacer</span
                  ><svg
                    role="img"
                    class="pointer-events-none size-5 rotate-180 text-zinc-600 group-hover:text-zinc-950 print:hidden"
                    aria-label="Open combobox"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <use href="/icons/caret-up.svg#caret-up"></use>
                  </svg></button
                ><span
                  hidden=""
                  style="
                    position: fixed;
                    top: 1px;
                    left: 1px;
                    width: 1px;
                    height: 0px;
                    padding: 0px;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px);
                    white-space: nowrap;
                    border-width: 0px;
                    display: none;
                  "
                ></span>
              </div>
            </div>
          </div>
          <div class="flex">
            <div
              class="flex w-1/2 items-center gap-1.5 px-2 py-1 outline outline-1 outline-slate-500 print:outline-slate-950"
            >
              <div class="grow" data-headlessui-state="">
                <label
                  class="sr-only"
                  id="headlessui-label-:r1ef:"
                  for="headlessui-control-:r1ee:"
                  data-headlessui-state=""
                  >Special training name</label
                ><input
                  class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm"
                  maxlength="50"
                  placeholder=""
                  id="headlessui-control-:r1ee:"
                  data-headlessui-state=""
                  value=""
                  aria-labelledby="headlessui-label-:r1ef:"
                /><span
                  hidden=""
                  style="
                    position: fixed;
                    top: 1px;
                    left: 1px;
                    width: 1px;
                    height: 0px;
                    padding: 0px;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px);
                    white-space: nowrap;
                    border-width: 0px;
                    display: none;
                  "
                ></span>
              </div>
              <button
                class="flex h-6 w-6 items-center justify-center rounded-full text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 print:hidden"
                type="button"
                data-headlessui-state=""
              >
                <svg
                  role="img"
                  class="size-5"
                  aria-label="Remove bond type"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <use href="/icons/trash.svg#trash"></use>
                </svg>
              </button>
            </div>
            <div
              class="w-1/2 text-center outline outline-1 outline-slate-500 print:outline-slate-950"
            >
              <div
                class="flex h-full w-full flex-col justify-end gap-1 px-2 py-1 font-jost outline outline-1 outline-slate-500 print:gap-0 print:outline-slate-950"
                data-headlessui-state=""
              >
                <label
                  class="w-full text-xs uppercase"
                  id="headlessui-label-:r1ei:"
                  for="headlessui-control-:r1eh:"
                  data-headlessui-state=""
                  ><h3></h3></label
                ><button
                  class="group flex h-10 w-full items-center justify-between rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-3 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:h-auto sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm"
                  id="headlessui-control-:r1eh:"
                  type="button"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  data-headlessui-state=""
                  aria-labelledby="headlessui-label-:r1ei: headlessui-control-:r1eh:"
                >
                  <span
                    class="grow text-left data-[use-spacer=true]:invisible"
                    data-use-spacer="true"
                    >spacer</span
                  ><svg
                    role="img"
                    class="pointer-events-none size-5 rotate-180 text-zinc-600 group-hover:text-zinc-950 print:hidden"
                    aria-label="Open combobox"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <use href="/icons/caret-up.svg#caret-up"></use>
                  </svg></button
                ><span
                  hidden=""
                  style="
                    position: fixed;
                    top: 1px;
                    left: 1px;
                    width: 1px;
                    height: 0px;
                    padding: 0px;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px);
                    white-space: nowrap;
                    border-width: 0px;
                    display: none;
                  "
                ></span>
              </div>
            </div>
          </div>
          <div class="flex">
            <div
              class="flex w-1/2 items-center gap-1.5 px-2 py-1 outline outline-1 outline-slate-500 print:outline-slate-950"
            >
              <div class="grow" data-headlessui-state="">
                <label
                  class="sr-only"
                  id="headlessui-label-:r1eq:"
                  for="headlessui-control-:r1ep:"
                  data-headlessui-state=""
                  >Special training name</label
                ><input
                  class="min-h-10 w-full justify-self-end rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-2 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:min-h-0 sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm"
                  maxlength="50"
                  placeholder=""
                  id="headlessui-control-:r1ep:"
                  data-headlessui-state=""
                  value=""
                  aria-labelledby="headlessui-label-:r1eq:"
                /><span
                  hidden=""
                  style="
                    position: fixed;
                    top: 1px;
                    left: 1px;
                    width: 1px;
                    height: 0px;
                    padding: 0px;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px);
                    white-space: nowrap;
                    border-width: 0px;
                    display: none;
                  "
                ></span>
              </div>
              <button
                class="flex h-6 w-6 items-center justify-center rounded-full text-zinc-600 hover:border-slate-950 hover:bg-zinc-300 hover:text-zinc-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 active:scale-95 active:bg-zinc-400 print:hidden"
                type="button"
                data-headlessui-state=""
              >
                <svg
                  role="img"
                  class="size-5"
                  aria-label="Remove bond type"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <use href="/icons/trash.svg#trash"></use>
                </svg>
              </button>
            </div>
            <div
              class="w-1/2 text-center outline outline-1 outline-slate-500 print:outline-slate-950"
            >
              <div
                class="flex h-full w-full flex-col justify-end gap-1 px-2 py-1 font-jost outline outline-1 outline-slate-500 print:gap-0 print:outline-slate-950"
                data-headlessui-state=""
              >
                <label
                  class="w-full text-xs uppercase"
                  id="headlessui-label-:r1et:"
                  for="headlessui-control-:r1es:"
                  data-headlessui-state=""
                  ><h3></h3></label
                ><button
                  class="group flex h-10 w-full items-center justify-between rounded-t-md border-b border-slate-500 bg-zinc-300 bg-opacity-70 px-3 py-0.5 hover:bg-opacity-100 focus-visible:border-b-0 focus-visible:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-600 sm:h-auto sm:px-1 print:border-0 print:bg-transparent print:p-0 print:text-sm"
                  id="headlessui-control-:r1es:"
                  type="button"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  data-headlessui-state=""
                  aria-labelledby="headlessui-label-:r1et: headlessui-control-:r1es:"
                >
                  <span
                    class="grow text-left data-[use-spacer=true]:invisible"
                    data-use-spacer="true"
                    >spacer</span
                  ><svg
                    role="img"
                    class="pointer-events-none size-5 rotate-180 text-zinc-600 group-hover:text-zinc-950 print:hidden"
                    aria-label="Open combobox"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <use href="/icons/caret-up.svg#caret-up"></use>
                  </svg></button
                ><span
                  hidden=""
                  style="
                    position: fixed;
                    top: 1px;
                    left: 1px;
                    width: 1px;
                    height: 0px;
                    padding: 0px;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px);
                    white-space: nowrap;
                    border-width: 0px;
                    display: none;
                  "
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center px-2 py-1 font-jost text-sm">
      Please indicate why this agent was recruited and why the agent agreed to
      be recruited.
    </div>
  </div>
</div>
